In [1]:
# import dependencies
import os
import pandas as pd

In [2]:
# Listy the two csv files for datasets
filepath1 = '../Datasets/Washington DC/tables/trips_2010to202003.csv'
filepath2 = '../Datasets/Washington DC/tables/trips_202005to202105.csv'
csv_file_list = [filepath1,filepath2]
csv_file_list

['../Datasets/Washington DC/tables/trips_2010to202003.csv',
 '../Datasets/Washington DC/tables/trips_202005to202105.csv']

In [3]:
# Read the listed file paths as DataFrame and merge
list_of_datasets = []
# loop through pd.read_csv method with the list of file path we created earlier 
for filepath in csv_file_list:
    list_of_datasets.append(pd.read_csv(filepath, low_memory=False))

# merge the dataframes we read into one dataframe
all_bike_trips = pd.concat(list_of_datasets)
all_bike_trips.head()

KeyboardInterrupt:

In [5]:
# Describe
all_bike_trips.dtypes

Trip_number                    object
startsstationnumber             int64
endstationnumber                int64
startdate              datetime64[ns]
enddate                datetime64[ns]
membertype                     object
weekday                        object
dtype: object

In [4]:
# Convert the 'started_at' and 'ended_at' columns to datetime data type
all_bike_trips['startdate'] = pd.to_datetime(all_bike_trips['startdate'])
all_bike_trips['enddate'] = pd.to_datetime(all_bike_trips['enddate'])
all_bike_trips['Trip_number'] = all_bike_trips['Trip_number'].apply(str)
all_bike_trips.dtypes

Trip_number                    object
startsstationnumber             int64
endstationnumber                int64
startdate              datetime64[ns]
enddate                datetime64[ns]
membertype                     object
weekday                        object
dtype: object

In [6]:
# Output to csv
folder_path = '../Datasets/Washington DC/tables/'
all_bike_trips.to_csv(os.path.join(folder_path,'Table1_all_bike_trips.csv'),index=False)

In [7]:
number_of_trips = pd.DataFrame(all_bike_trips['startsstationnumber'].value_counts())

In [8]:
number_of_trips = number_of_trips.rename(columns={'startsstationnumber':'occurence'})
number_of_trips['startsstationnumber'] = number_of_trips.index
number_of_trips.reset_index(drop=True)

     occurence  startsstationnumber
0       553073                31623
1       476270                31200
2       419373                31258
3       390310                31201
4       380826                31247
..         ...                  ...
634         42                32202
635         40                31671
636         21                32901
637         14                31942
638          8                32902

[639 rows x 2 columns]

In [9]:
# Output to csv
folder_path = '../Datasets/Washington DC/tables/'
number_of_trips.to_csv(os.path.join(folder_path,'Table6_number_of_trips.csv'),index=False)