In [1]:
# import dependencies
import os
import pandas as pd

In [2]:
# Listy the two csv files for datasets
filepath1 = '../Datasets/Washington DC/trips_2010to202003.csv'
filepath2 = '../Datasets/Washington DC/trips_202005to202105.csv'
csv_file_list = [filepath1,filepath2]
csv_file_list

['../Datasets/Washington DC/trips_2010to202003.csv',
 '../Datasets/Washington DC/trips_202005to202105.csv']

In [3]:
# Read the listed file paths as DataFrame and merge
list_of_datasets = []
# loop through pd.read_csv method with the list of file path we created earlier 
for filepath in csv_file_list:
    list_of_datasets.append(pd.read_csv(filepath, low_memory=False))

# merge the dataframes we read into one dataframe
all_bike_trips = pd.concat(list_of_datasets)
all_bike_trips.head()

,Trip_number,startsstationnumber,endstationnumber,startdate,enddate,membertype,weekday
0,1,31208,31108,2010-09-20 11:27:04,2010-09-20 11:43:56,Member,Monday
1,2,31209,31209,2010-09-20 11:41:22,2010-09-20 11:42:23,Member,Monday
2,3,31600,31100,2010-09-20 12:05:37,2010-09-20 12:50:27,Member,Monday
3,4,31600,31602,2010-09-20 12:06:05,2010-09-20 12:29:32,Member,Monday
4,5,31100,31201,2010-09-20 12:10:43,2010-09-20 12:34:17,Member,Monday

In [6]:
# Describe
all_bike_trips.dtypes

Trip_number             int64
startsstationnumber     int64
endstationnumber        int64
startdate              object
enddate                object
membertype             object
weekday                object
dtype: object

In [7]:
# Convert the 'started_at' and 'ended_at' columns to datetime data type
all_bike_trips['startdate'] = pd.to_datetime(all_bike_trips['startdate'])
all_bike_trips['enddate'] = pd.to_datetime(all_bike_trips['enddate'])
all_bike_trips.dtypes

Trip_number                     int64
startsstationnumber             int64
endstationnumber                int64
startdate              datetime64[ns]
enddate                datetime64[ns]
membertype                     object
weekday                        object
dtype: object

In [8]:
# Output to csv
folder_path = '../Datasets/Washington DC/'
all_bike_trips.to_csv(os.path.join(folder_path,'Table1_all_bike_trips.csv'),index=False)